/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  input, select, button {
    padding: 8px;
    margin: 5px;
    font-size: 16px;
  }
  
  input[type="text"], input[type="date"], select {
    width: 250px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Tabla de resultados */
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #f5f5f5;
  }
  